@import url("../css/reset.css");
@import url("../css/fonts.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

@import url("../css/header.css");
@import url("../css/firstscreen.css");
@import url("../css/social.css");
@import url("../css/awesome.css");
@import url("../css/price.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("../css/contacts.css");
@import url("../css/footer.css");

html{
  font-family: 'Open Sans', 'Raleway', sans-serif;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.section-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
  text-transform: uppercase;
}
.section-desc p{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #86878B;
}

